@page
@model HostPilot.Web.Pages.FilesModel
@{
    ViewData["Title"] = "Remote Files";
}
<h1>Remote Files</h1>
<p>Browser starter for remote file browsing, uploads, downloads, and transfer queue status.</p>
